.bg-dark {
  background: $dark !important;
}

.center-all-column {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.cursor-pointer {
  cursor: pointer;
}

.mt-n8 {
  top: -8rem;
}
