$coral: #fb7356;
$salmon: #ff6d6c;
$pink: #ff5aa4;
$sandy: #fbab4a;
$purple: #9e76fe;
$dark: #100f39;
$dark-100: #151444;
$dark-200: #1c1b5a;
$light: #ffffff;

$gradient: linear-gradient(to right, $coral, $salmon, $pink);

$primary-color: $coral;
