@import "variables";
@import "buttons";
@import "inputs";
@import "general";

html {
  width: 100vw;
  height: 100vh;
  font-size: 16px; // 1rem
}

body,
#app {
  width: 100vw;
  height: 100vh;
  margin: 0;
  background-color: $dark;
  // font-family: $font-family-base;
}

.cursor-pointer {
  cursor: pointer;
}
